# Place the file in /usr/lib/systemd/system and:
# sudo systemctl enable 4g
[Unit]
Description=Start 4G connection

[Service]
Type=oneshot
ExecStart=/usr/bin/python /home/pi/Documents/divers/diegoberry/diegoberry_4g.py
ExecStop=/usr/bin/killall python
StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target,avs.service,radio.service
Alias=4g.service
